.Modal {
    position: fixed;
    z-index: 500;
    width: 95%;
    height: 95%;
    left: 5%;
    top: 5%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CloseButton {
    position: absolute;
    top: -4px;
    right: -8px;
}