.CampaignBlock {
    background-color: #f8f8f8;
    position: relative;
    box-sizing: border-box;
}

.CampaignProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 50px;
    width: 1024px;
    margin: 0 auto;
}

.UspBlock {
    background-color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 120px 50px;
    width: 1085px;
    margin: 0 auto;
}

.UspProduct {
    display: flex;
    width: 100%;
}

.DealBlock {
    background-color: #f8f8f8;
    position: relative;
    box-sizing: border-box;
}

.DealProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 50px;
    width: 1024px;
    margin: 0 auto;
}

.ImageContainer {
    width: 52%;
}

.ImageContainer img {
    width: 100%;
    height: 100%;
    margin-top: -20px;
}

.InfoContainer {
    width: 45%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
}

.InfoContainer Button {
    background: orange;
    font-size: 12px;
    font-family: 'GT-America-Expanded-Black';
    width: 150px;
    height: 50px;
}
