.HeroSection {
    display: flex;
    flex-direction: column;
}

.HeroSection video {
    width: 100%;
    object-fit: cover;
}

.Content {
    width: 100%;
    height: 100%;
    margin-top: -562px;
    position: absolute;
    color: white;
}

.Content > h1 {
    margin: 100px 0 0 100px;
    font-family: 'GT-America-Expanded-Black';
}

.Content > Button {
    margin: 16px 0 0 100px;
    background: black;
    font-weight: bold;
}

.Youtube {
    width: 100%;
    height: 100%;
}